.nav-menu {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .visible {
    opacity: 1;
  }
  
  .tool-tip{
    position: absolute;
    top:'10';
    right:'0';
    z-index:10;
    background-color: rgb(39, 39, 39);
    transition: all .5s;
    opacity: 0;
  }
  .notify-btn:hover .tool-tip{
    opacity: 1;
  }
  .btn-light-dark{
    background-color: rgb(66, 66, 66);
    color: white;
  }